* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    position: relative;
    font-family: "Poppins";
    font-style: normal;
    font-weight: map-get($weights, "regular" );
    color: $cocoa;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: $background;
}
// ALL BLOCKs BECOME FLEX
div,address,article,aside,blockquote,canvas,dd,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hr,li,main,nav,noscript,ol,p,pre,section,table,tfoot,ul,video {
    display: flex;
}
//ALL INLINE ELEMENTS 
