$cocoa : #332927;
$orange : #FC462D;
$boulder: #B8B4B4;
$white: #FEFEFE;
$malachite: #0AC763;
$background : #FAFAF8;
$backgroundmodal : rgba(51, 41, 39, 0.8);
$spacexsmall : 4px;
$spaceusmall : 8px;
$spacesmall : 12px;
$spacexmedium : 16px;
$spacemedium : 24px; 
$spacemain : 40px; 


$weights : (
    "thin" : 200,
    "regular" : 400,
    "semibold" : 600,
    "bold" : 700,
    "superbold" : 900
);

$fsizes : (
    "xx-small" : 12px,
    "x-small" :14px,
    "small" : 16px,
    "medium" : 20px,
    "large" : 22px,
    "x-large" : 24px,
    "xx-large" : 28px,
);